#list-view-wrapper {
    background-color: #fff;
    border-radius: 4px;
    padding: 30px 30px 10px 30px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.30);
    margin: 0 0 0 10px;
}

.tile-row-wrapper {
    margin-left: -30px;
    margin-right: -30px;
}

.tile-wrapper {
    height: 432px;
    background-color: #fff;
    border-radius: 4px;
    padding: 20px 30px 0 30px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.30);
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 40px;
    position: relative;
}

.tile-wrapper:hover {
    cursor: pointer;
    border: 2px solid #6F7C82;
}

.list-result {
    padding-bottom: 8px;
    padding-top: 10px;
}

.list-result.not-first {
    border-top: 1px solid #D1CDC7;
}

.list-result.hover {
    border: 2px solid #6F7C82;
    cursor: pointer;
}

.record-title {
    font-weight: bold;
    min-height: 40px;
    max-height: 40px;
    padding-right: 15px;
    word-wrap: break-word;
    overflow: hidden;
}

#list-view-wrapper .record-title {
    font-size: 1.1em;
    min-height: 20px;
}

.framework-record {
    position: absolute;
    top: 10px;
    right: 10px;
}

#list-view-wrapper .framework-record {
    right: 5px;
    top: 0;
}

.record-thumbnail {
    min-height: 150px;
    max-height: 150px;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

.record-thumbnail img {
    height: 125px;
}

#list-view-wrapper .record-thumbnail img {
    height: 50px;
}

#list-view-wrapper .record-thumbnail {
    min-height: 50px;
    padding: 0;
}

.record-abstract {
    color: #6F7C82;
    line-height: 1.2em;
    padding-bottom: 20px;
    /*border-bottom:1px solid #D1CDC7;     */
}

.middle-row {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #D1CDC7;
}

.record-date {
    font-size: .8em;
}

.record-misc {
    font-size: .8em;
    margin-left: -10px;
}

.record-preview img {
    margin-right: 5px;
    margin-bottom: 2px;
}

.record-desc {
    font-size: .8em;
    color: #6F7C82;
}

.bottom-row {
    max-height: 40px;
    width: 100%;
    /*position: relative;
    bottom: -21px;*/
    position: absolute;
    bottom: 0;
    left: 0;
    /*left:15px;*/
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
}

.bottom-row div {
    text-align: center;
    background-color: #F3F3F5;
    padding: 10px;
    color: #6F7C82;
    border-left: solid 2px #FFF;
}

.bottom-row div:first-child {
    border-left: none;
    border-radius: 0 0 0 4px;
}

.bottom-row div:last-child {
    border-radius: 0 0 4px 0;
}

.bottom-row div:hover {
    text-align: center;
    background-color: #244068;
    color: #fff;
    cursor: pointer;
}

.bottom-row span {
    padding-right: 5px;
}

.list-download-details {
    max-width: 350px;
    color: #C34500;
    padding-top: 10px;
}

.list-download-details div {
    /*width: 50%;*/
    text-align: center;
}

.list-download-details div:hover {
    cursor: pointer;
}

.list-download-details div:hover {
    text-decoration: underline;
}

.list-download-details div {
    border-left: 1px solid #D1CDC7;
}

.list-download-details div:first-child {
    border-left: none;
}

.list-download-details span {
    padding-right: 5px;
}


/*ellipsis stlyling*/

.ellipsis {
    overflow: hidden;
    height: 113px;
}

.ellipsis:before {
    content: "";
    float: left;
    width: 5px;
    height: 113px;
}

.ellipsis>*:first-child {
    float: right;
    width: 100%;
    margin-left: -5px;
}

.ellipsis:after {
    content: "\02026";
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    float: right;
    position: relative;
    /*top: -25px;*/
    top: -15px;
    left: 100%;
    width: 3em;
    margin-left: -3em;
    padding-right: 5px;
    text-align: right;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(white), color-stop(50%, white));
    background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
    background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
    background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
}

@media only screen and (max-width: 500px) {
    .tile-wrapper {
        margin-left: 10px;
        margin-right: 10px;
    }
    #list-view-wrapper {
        padding-left: 5px;
        padding-right: 5px;
        margin-left: -10px;
        margin-right: -10px;
    }
    #list-view-wrapper .record-thumbnail img {
        height: 30px;
    }
    #list-view-wrapper .framework-record img {
        height: 20px;
    }
    .record-list-title-col {
        padding-left: 15px;
        padding-right: 0;
    }
    #list-view-wrapper .record-title {
        font-size: 1em;
    }
    .list-framework {
        padding-left: 0;
    }
    .bottom-row span {
        font-size: .8em;
    }
    .list-download-details span {
        display: none;
    }
    .list-download-details div {
        font-size: smaller;
    }
}

@media only screen and (max-width: 350px) {
    .bottom-row .col-xs-4 span {
        display: none;
    }
}