<div id="help-wrapper">
    <h2>Help</h2>
    <hr>
    <p><strong>How to Publish Data:</strong><br></p>
    <p></p>
    <p>To publish data contact <a href="mailto:virtualoregon.support@oregonstate.edu">virtualoregon.support@oregonstate.edu</a>.</p>
    <p>Requests to upload framework data elements should go to Theresa Burcsu, DAS framework coordinator (<a href="mailto:theresa.burcsu@oregon.gov">theresa.burcsu@oregon.gov</a>).</p>
    <p>&nbsp;</p>
    <p></p>
    <ul>
        <li>
            <p><strong>Collection Guidelines:</strong><br></p>
            <p>·&nbsp;&nbsp; Data and metadata are in their final form.</p>
            <p>·&nbsp;&nbsp; Metadata complies with OSDL minimum metadata requirements.</p>
            <p>·&nbsp;&nbsp; All file names and attributes are well described and interpretable. Any acronyms used are defined in the metadata.</p>
            <p>·&nbsp;&nbsp; The data has potential value for other application areas or to support decision making.</p>
            <p>·&nbsp;&nbsp; The geographic extent is substantial (approximately the size of an average county or 4<sup>th</sup> field HUC (700 square miles)), or the extent covers a city.</p>
            <p>&nbsp;</p>
            <p></p>
        </li>
        <li>
            <p><strong>Minimum Metadata Requirements:</strong><br></p>
            <p><span style="line-height: 1.538em;">·&nbsp;&nbsp;</span><span style="line-height: 1.538em;">Title (Overview&gt;Item Description&gt;Title)</span></p>
            <p><span style="line-height: 1.538em;">·&nbsp;&nbsp;</span><span style="line-height: 1.538em;">Description/Abstract (Overview&gt;Item Description&gt;Description (Abstract))</span></p>
            <p><span style="line-height: 1.538em;">·&nbsp;&nbsp;</span><span style="line-height: 1.538em;">Topic Categories/ISO Theme (Overview&gt;Topics&amp;Keywords&gt;Topic Categories)</span></p>
            <p><span style="line-height: 1.538em;">·&nbsp;&nbsp;</span><span style="line-height: 1.538em;">Metadata Contact (Metadata&gt;Contacts&gt;New Contact&gt;New Contact Information (set role to “Originator”))</span></p>
            <p><span style="line-height: 1.538em;">·&nbsp;&nbsp;</span><span style="line-height: 1.538em;">Publish Date (Overview&gt;Citation&gt;Dates&gt;Published)</span></p>
            <p></p>
        </li>
    </ul><br>
</div>