<div id="help-wrapper">
    <h2>Help</h2>
    <hr>
    <h4><strong>How to Publish Data:</strong><br></h4>
    <p></p>
    <h4>Is your dataset an element of Oregon's <a href="http://www.oregon.gov/geo/Pages/fit.aspx" target="_blank">Framework Program</a>?</h4>
    <ul>
        <li>
            <p><b>Yes:  </b> Requests to upload framework data elements should go to Theresa Burcsu, DAS Framework Coordinator (<a href="mailto:theresa.burcsu@oregon.gov">theresa.burcsu@oregon.gov</a>).
            </p>
            <p>Framework data should include metadata that meets the Oregon Geospatial Metadata Standard. See the <a [routerLink]="['/resources']">Resources page</a> for more information about creating metadata that conforms to the Oregon Standard.</p>
        </li>
        <li>
            <p><b>No:  </b>Non-framework data should meet the collection guidelines (listed below), and include at least the minimum metadata requirements (also listed below). It is recommended that the metadata meet the <a href="http://www.oregon.gov/geo/standards/Oregon Geospatial Metadata Standard, v2.pdf"
                    target="_blank">Oregon Geospatial Metadata Standard</a>, but that is not a requirement for publication.</p>

            <p>To publish non-framework data contact <a href="mailto:virtualoregon.support@oregonstate.edu?Subject=Publish metadata to the Oregon Spatial Data Library">virtualoregon.support@oregonstate.edu</a>.</p>
            <ul>
                <li>
                    <p><strong>Collection Guidelines:</strong><br></p>
                    <p>·&nbsp;&nbsp; Data and metadata are in their final form.</p>
                    <p>·&nbsp;&nbsp; Metadata complies with OSDL minimum metadata requirements.</p>
                    <p>·&nbsp;&nbsp; All file names and attributes are well described and interpretable. Any acronyms used are defined in the metadata.</p>
                    <p>·&nbsp;&nbsp; The data has potential value for other application areas or to support decision making.</p>
                    <p>·&nbsp;&nbsp; The geographic extent is substantial (approximately the size of an average county or 4<sup>th</sup> field HUC (700 square miles)), or the extent covers a city.</p>
                    <p>&nbsp;</p>
                    <p></p>
                </li>
                <li>
                    <p><strong>Minimum Metadata Requirements:</strong><br></p>
                    <p><span style="line-height: 1.538em;">·&nbsp;&nbsp;</span><span style="line-height: 1.538em;">Title (Overview&gt;Item Description&gt;Title)</span></p>
                    <p><span style="line-height: 1.538em;">·&nbsp;&nbsp;</span><span style="line-height: 1.538em;">Description/Abstract (Overview&gt;Item Description&gt;Description (Abstract))</span></p>
                    <p><span style="line-height: 1.538em;">·&nbsp;&nbsp;</span><span style="line-height: 1.538em;">Topic Categories/ISO Theme (Overview&gt;Topics&amp;Keywords&gt;Topic Categories)</span></p>
                    <p><span style="line-height: 1.538em;">·&nbsp;&nbsp;</span><span style="line-height: 1.538em;">Metadata Contact (Metadata&gt;Contacts&gt;New Contact&gt;New Contact Information (set role to “Originator”))</span></p>
                    <p><span style="line-height: 1.538em;">·&nbsp;&nbsp;</span><span style="line-height: 1.538em;">Publish Date (Overview&gt;Citation&gt;Dates&gt;Published)</span></p>
                    <p></p>
                </li>
            </ul>
        </li>
    </ul>
    <br>
    <h4><strong>How to Download Data:</strong><br></h4>
    <p></p>
    <p>Click the Download button on the search results page, or on the details page for a record. Map services cannot be downloaded.</p>
    <p>
        <p>Looking for the <a [routerLink]="['/download']">old Download tool</a>? The flash-based tool has been deprecated, and doesn’t contain the newest data in the Spatial Data Library, but it will still be available from this URL for a limited time.
        </p>
</div>