<div id="download-wrapper">
    <h2>Download</h2>
    <hr>
    <div class="download_info">
        <p>Most datasets can be directly downloaded from their records which will include the full extent of the layer.
        </p>
        <hr>
        <b>To download custom area selections</b>
    </div>



    <div class="download_tool_option_wrapper">
        <div
            onclick="window.open('https://tools.oregonexplorer.info/OE_HtmlViewer/Index.html?viewer=osdl','_blank')">
            <h3>Framework Data (Non-Imagery)</h3>
            <img
                src="https://tools.oregonexplorer.info/Geocortex/Custom/images/OSDLExtractTool.png"
                alt="OSDL Framework download tool.">
        </div>

        <div
            onclick="window.open('https://geo.maps.arcgis.com/apps/MapSeries/index.html?appid=0ab5c3f0a4364e049348cd4daa621443','_blank')">
            <h3>Framework Imagery</h3>
            <img
                src="https://tools.oregonexplorer.info/Geocortex/Custom/images/ORimagerydownloadthumb.png"
                alt="Oregon Statewide Aerial Imagery Download">
        </div>

    </div>

    <!-- <iframe id="frame" src="https://tools.oregonexplorer.info/OE_HtmlViewer/Index.html?viewer=osdl" style="overflow-y: auto; overflow-x: hidden; height: 790px;" width="100%" frameborder="0" marginheight="0" marginwidth="0" height="100%">
</iframe>
    <div>
        <a href="https://tools.oregonexplorer.info/OE_HtmlViewer/Index.html?viewer=osdl" target="_blank"><span class="glyphicon glyphicon-new-window"></span><span>  Open tool in new tab</span></a>
    </div> -->
</div>