#download-wrapper {
    max-width: 1168px;
    margin: -125px auto 0 auto;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.30);
    min-height: 590px;
    max-height: 100%;
    /*padding: 30px;*/
    height: 100%;
    position: relative;
}

#download-wrapper div {
    width: 100%;
    text-align: center;
}

iframe {
    height: 600px;
    width: 100%;
    max-width: 100%;
    resize: both;
    overflow: auto;
}

@media only screen and (max-width:1100px) {
    iframe {
        height: 500px;
    }
}