#download-wrapper {
    max-width: 1168px;
    margin: -125px auto 0 auto;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.30);
    min-height: 320px;
    padding: 30px;
    position: relative;
}