<div id="download-wrapper">
    <!--<iframe id="frame" src="http://spatialdata.oregonexplorer.info/geoportal/viewer_download/index.html" style="overflow-y: auto; overflow-x: hidden; height: 790px;" width="100%" frameborder="0" marginheight="0" marginwidth="0" height="100%">-->
    <iframe id="frame" src="http://tools.oregonexplorer.info/OE_HtmlViewer/Index.html?viewer=osdl" style="overflow-y: auto; overflow-x: hidden; height: 790px;" width="100%" frameborder="0" marginheight="0" marginwidth="0" height="100%">
</iframe>
    <div>
        <a href="http://tools.oregonexplorer.info/OE_HtmlViewer/Index.html?viewer=osdl" target="_blank"><span class="glyphicon glyphicon-new-window"></span><span>  Open tool in new tab</span></a>
    </div>
    <!--<script type="text/javascript">
        function resizeIframe() {
            document.getElementById('cmPlPcCaption').style.display = 'none';
            var height = document.documentElement.clientHeight;
            height += document.getElementById('frame').offsetTop;
            console.log('height', height);
            height -= 400; /* whatever you set your body bottom margin/padding to be */
            document.getElementById('frame').style.height = height + "px";
        };
        document.getElementById('frame').onload = resizeIframe;
        window.onresize = resizeIframe;
    </script>-->
</div>