<div id="download-wrapper">
    <iframe id="frame" src="https://tools.oregonexplorer.info/OE_HtmlViewer/Index.html?viewer=osdl" style="overflow-y: auto; overflow-x: hidden; height: 790px;" width="100%" frameborder="0" marginheight="0" marginwidth="0" height="100%">
</iframe>
    <div>
        <a href="https://tools.oregonexplorer.info/OE_HtmlViewer/Index.html?viewer=osdl" target="_blank"><span class="glyphicon glyphicon-new-window"></span><span>  Open tool in new tab</span></a>
    </div>
</div>