#results-bottom-wrapper {
    max-width: 1168px;
    margin: 38px auto;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.results-col {
    margin-top: -35px;
}

@media only screen and (max-width: 500px) {
    .results-col {
        margin-left: -10px;
        padding-right: 0;
    }
}