<div id="resources-wrapper">
    <h2>Resources</h2>
    <hr>
    <ul>
        <li>
            <p><b>Oregon Geospatial Data Metadata Standard</b></p>
            <p>The <a href="https://www.oregon.gov/geo/FIT%20Documents/FINAL_OR_Metadata_standard_ver_2.04.pdf" target="_blank">Oregon Geospatial Metadata Standard</a> is based on the Federal Geographic Data Committee Content Standard for Digital Geospatial
                Metadata.
            </p>
            <p>You can <a href="https://oe.oregonexplorer.info/externalcontent/osdl/OregonGISMetadata_ArcCatalogEditor.zip" download="OregonGISMetadata_ArcCatalogEditor" target="_blank">download</a> a custom ArcGIS Catalog metadata editor to facilitate the creation of metadata that meets
                the Oregon Geospatial Metadata Standard. The custom ArcCatalog metadata editor was developed by Lane Council of Governments with <a href="https://www.oregon.gov/geo/Pages/fit.aspx" target="_blank">Framework Data Development Program Funding</a>                (2017).</p>
            <p><b>
        Download the <a href="https://oe.oregonexplorer.info/externalcontent/osdl/OregonGISMetadata_ArcCatalogEditor.zip" download="OregonGISMetadata_ArcCatalogEditor" target="_blank">Oregon GIS Metadata Editor for ArcCatalog</a>.</b>
            </p>
            <br>
        </li>
        <li>
            <p>
                <b>Federal Geographic Data Committee Content Standard for Digital Geospatial Metadata</b></p>
            <p>For more information about the Federal Geographic Data Committee Content Standard for Digital Geospatial Metadata <a href="https://www.fgdc.gov/metadata/csdgm-standard" target="_blank">(FGDC CSDGM)</a>, see the <a href="https://www.fgdc.gov/metadata/geospatial-metadata-tools"
                    target="_blank">FGDC Geospatial Metadata Tools</a> page.</p>
            <p>
                For information about creating complete FGDC CSDGM metadata in ArcGIS Desktop, see the page "<a href="https://desktop.arcgis.com/en/arcmap/10.3/manage-data/metadata/illustrated-guide-to-complete-fgdc-metadata.htm" target="_blank">Illustrated guide to complete FGDC metadata</a>."
            </p>
            <br>
        </li>
        <li>
            <p>
                <b>International Organization for Standardization (ISO) Geographic Information – Metadata standard</b></p>
            <p>
                For more information about the International Organization for Standardization (ISO) Geographic Information – Metadata standard <a href="https://www.iso.org/standard/26020.html" target="_blank">19115:2003</a> see this <a href="https://www.fgdc.gov/metadata/iso-standards"
                    target="_blank">FGDC webpage</a>.
            </p>
            <br>
        </li>
        <li>
            <p><b>Metadata Best Practices</b></p>
            <ul>
                <li><a href="https://www2.usgs.gov/core_science_systems/csas/metadata/best_practices.html" target="_blank">USGS Best Practices for Writing Metadata</a>
                </li>
                <li><a href="https://www.dataone.org/best-practices/metadata" target="_blank">DataONE Metadata Best Practices</a></li>
            </ul>
            <br>
        </li>
        <li>
            <p><b>Metadata Best Practices for Map Services</b></p>
            <p>The same best practices concepts outlined in the Metadata Best Practices links above can be applied when creating map service metadata. Ideally map service metadata will include both metadata describing the map service, and metadata describing
                the layers within that service.</p>
            <p>When possible, metadata should be applied to ArcGIS server based map services using the steps outlined in <a href="https://server.arcgis.com/en/server/latest/publish-services/windows/metadata-for-services.htm" target="_blank"> ESRI documentation on map service metadata</a>.
                This metadata describes the map service, so to provide access to metadata for each layer in the service it is recommended that each layer description contain a link to metadata for that layer.</p>

        </li>
    </ul>
</div>