<div id="download-form" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}" [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" (click)="hide()">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" [innerHTML]="status === 'checking' ? 'Checking to see if layer is available for download' : 'Request layer for download'"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div *ngIf="status === 'checking'" class="col-xs-12">
                        Please wait...
                    </div>
                    <div *ngIf="status === 'showForm'" class="col-xs-12">
                        <div>Your requested layer has not been processed for download yet. You can provide your email address and be notified when the layer is ready for download. It can take between 5-15 minutes to process your request.</div>
                        <br>
                        <label for="email">Email address</label>
                        <input #email type="email" id="email" name="email" ng-pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" placeholder="Your email" /><br><br>
                        <button type="button" (click)="onFormSubmit(email.value)">Submit Request</button>
                        <button type="button" (click)="hide()">No, thanks</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<app-download-helper-cmp></app-download-helper-cmp>