    #details-title-bar-wrapper {
        max-width: 1168px;
        margin: -125px auto 0 auto;
        background-color: white;
        border-radius: 4px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.30);
        min-height: 320px;
        padding: 30px;
        position: relative;
    }
    
    #dataset-title {
        font-family: 'AvenirLTCom-Book', 'Lato', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 2em;
        font-weight: bold;
        word-wrap: break-word;
        max-width: 80%;
    }
    
    #framework-dataset {
        position: absolute;
        top: 30px;
        right: 30px;
        font-size: .8em;
        color: #78724b;
    }
    
    #dataset-thumbnail-row {
        min-height: 150px;
        padding: 20px;
        position: relative;
    }
    
    #thumbnail-wrapper img {
        max-height: 140px;
        min-height: 140px;
    }
    
    #dataset-thumbnail-row div {
        border-right: 1px solid #D1CDC7;
        vertical-align: middle;
        min-height: 140px;
        text-align: center;
        position: relative;
    }
    
    #dataset-thumbnail-row div:nth-child(3) {
        border: none;
        padding-left: 40px;
    }
    
    #dataset-thumbnail-row div>div {
        border: none;
        /*padding: 0;*/
        min-height: 20px;
    }
    
    #dataset-thumbnail-row #links-wrapper {
        padding-left: 25%;
        padding-right: 25%;
    }
    
    #dataset-thumbnail-row #download-btn,
    #dataset-thumbnail-row #preview-btn {
        width: 185px;
        height: 50px;
        background-color: #C34500;
        border-radius: 4px;
        color: #fff;
        padding: 15px;
        margin-bottom: 20px;
        text-align: center;
    }
    
    #static-map {
        height: 150px;
    }
    
    #download-btn:hover,
    #preview-btn:hover {
        cursor: pointer;
        background-color: #802E01;
        text-decoration: underline;
    }
    
    #download-btn span,
    #preview-btn span {
        padding-right: 10px;
    }
    
    #dataset-thumbnail-row div.link {
        text-align: left;
        color: #C34500;
        padding: 10px 0 !important;
        vertical-align: middle;
    }
    
    #dataset-thumbnail-row div.link:hover {
        cursor: pointer;
        text-decoration: underline;
    }
    
    @media only screen and (max-width:1200px) {
        #dataset-thumbnail-row #links-wrapper {
            padding-left: 25px;
            padding-right: 25px;
            padding-top: 20px;
        }
        #dataset-thumbnail-row div:nth-child(3) {
            min-height: unset;
        }
        #details-title-bar-wrapper {
            padding-bottom: 0;
            min-height: unset;
        }
    }
    
    @media only screen and (max-width:750px) {
        #dataset-thumbnail-row #links-wrapper {
            padding: 20px 0 0;
        }
        #dataset-title {
            font-size: 1.5em;
            max-width: 65%;
        }
        #details-title-bar-wrapper {
            padding: 20px 20px 0 20px;
            margin-left: -15px;
            margin-right: -15px;
        }
        #framework-dataset {
            top: 20px;
            right: 20px;
        }
        #dataset-thumbnail-row div:nth-child(3) {
            border: none;
            margin-left: -15px;
        }
        #dataset-thumbnail-row #source-site {
            margin-left: 0;
        }
        .col-xss {
            padding: 0;
        }
    }
    
    @media only screen and (max-width:500px) {
        #thumbnail-wrapper.col-xs-6,
        #static-map-wrapper.col-xs-6 {
            width: 100%;
        }
        #dataset-thumbnail-row div {
            border: none;
            padding-top: 15px;
            min-height: unset;
        }
        #dataset-thumbnail-row #download-btn,
        #dataset-thumbnail-row #preview-btn {
            width: 100%;
        }
        #thumbnail-wrapper img {
            max-height: 100px;
        }
        .col-xss {
            width: 100%;
            display: block;
            padding: 0;
        }
        .links {
            margin-top: -60px;
        }
    }