<div id="details-title-bar-wrapper">
  <div id="dataset-title">Dataset title
  </div>
  <!--Add ngif framework check for display-->
  <div id="framework-dataset">
    <img src="assets/img/framework-icn.png" alt="Oregon Framework Dataset" title="Oregon Framework Dataset" />
  </div>
  <div id="dataset-tags">
    <span>Topics:</span>
  </div>
  <div id="dataset-thumbnail-row" class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
      <span>thumbnail</span>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <span>map</span>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="row">
        <div id="links-wrapper">
          <div class="col-md-12 col-sm-4">
            <div id="download-btn">
              <span class="glyphicon glyphicon-download-alt"></span>Download</div>
          </div>
          <div class="col-md-12 col-sm-4">
            <div class="link">
              Metadata <span class="glyphicon glyphicon-menu-right"></span>
            </div>
          </div>
          <div class="col-md-12 col-sm-4">
            <div class="link">
              Source site <span class="glyphicon glyphicon-menu-right"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>