<div>
    <div id="main_content" class="container-fluid">
        <div id="top">
            <div id="banner-nav-wrapper" class="row">
                <div class="osdl-logo col-lg-3 col-md-3 col-xs-3">
                    <a [routerLink]="['/']"><img src="./assets/img/osdl-logo.png" /></a>
                </div>
                <div class="col-lg-9 col-md-9 col-xs-9">
                    <nav class="navbar navbar-static-top osdl-nav" role="navigation">
                        <div class="">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                            </div>
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav pull-right">
                                    <li><a class="a-nav" [routerLink]="['/']"><span class="glyphicon glyphicon-home"></span></a></li>
                                    <li><a class="a-nav" [routerLink]="['/help']">Help</a></li>
                                    <li><a class="a-nav" [routerLink]="['/about']">About</a></li>
                                    <li><a class="a-nav" [routerLink]="['/feedback']">Feedback</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div id="img-bar"></div>
        <router-outlet></router-outlet>
        <div id="sponsors-wrapper" class="row">
            <div class="sponsor-line col-lg-5 col-md-5 col-sm-5 col-xs-4">
                <hr />
            </div>
            <div class="sponsors-header col-lg-2 col-md-2 col-sm-2 col-xs-4">
                Partners
            </div>
            <div class="sponsor-line col-lg-5 col-md-5 col-sm-5 col-xs-4">
                <hr />
            </div>
            <div class="sponsors col-lg-12">
                <div class="sponsor-row row">
                    <div class="col-lg-3 col-md-3 col-sm-5 col-xs-12">
                        <a href="http://osulibrary.oregonstate.edu/" target="_blank"><img alt="Oregon State University Lirbraries & Press" src="assets/img/osu-lp-logo.png" /></a>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                        <a href="http://oregon.gov" target="_blank"><img alt="State of Oregon" src="assets/img/oregon-seal.png" /></a>
                    </div>
                    <div class="col-lg-2  col-md-2 col-sm-5 col-xs-12">
                        <a href="http://oregonexplorer.info" width="60px" target="_blank"><img alt="Oregon Explorer" src="assets/img/oe-logo-gray.png" /></a>
                    </div>
                    <div class="col-lg-2  col-md-2 col-sm-6 col-xs-12">
                        <a href="http://oregoncf.org" target="_blank"><img alt="NAVIGATOR- State of Oregon Dept. of Administrative Services Geospatial Enterprise Office " src="assets/img/navigator-logo.png" /></a>
                    </div>
                    <div class="col-lg-3  col-md-2 col-sm-6 col-xs-12">
                        <a href="http://oregonstate.edu/inr" target="_blank"><img alt="Institute for Natural Resources" src="assets/img/inr-horizontal-logo.png" /></a>
                    </div>
                </div>
                <!--<div class="clearfix"></div>-->
            </div>
        </div>
        <div id="footer-wrapper">
            <div id="footer" class="row">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="row">
                        <div class="col-xs-1">
                            <a href="http://spatialdata.oregonexplorer.info/GPT9/rest/find/document?f=georss"><img src="assets/img/rss-button.png" alt="rss feed link" /></a>
                        </div>
                        <div class="col-xs-3">
                            <a href="mailto:virtualoregon.support@oregonstate.edu&subject=Oregon Spatial Data Library">Contact Us</a>
                        </div>
                        <div class="col-xs-3">
                            <a href="http://spatialdata.oregonexplorer.info/geoportal/catalog/identity/login.page">Login</a>
                        </div>
                        <div class="col-xs-3">
                            <a href="http://spatialdata.oregonexplorer.info/geoportal/catalog/identity/userRegistration.page">Register</a>
                        </div>
                        <div class="col-xs-2">
                            <a href="http://spatialdata.oregonexplorer.info/geoportal/catalog/identity/userRegistration.page">Resources</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12 copyright">
                    <span class="glyphicon glyphicon-copyright-mark"></span> 2016 Oregon State University & the State of Oregon
                </div>
            </div>
        </div>
    </div>
</div>