<div id="search-bar" class="container">
    <div class="row">
        <div class="col-xs-12" id="search-title">Find Geospatial &amp; Oregon Framework Data</div>
    </div>
    <div class="row search-wrapper" [ngClass]="viewType">
        <div class="col-md-12">
            <div class="search row">
                <div class="col-xs-8">
                    <span class="glyphicon glyphicon-search"></span>
                    <input #searchInput type="text" [(ngModel)]="searchString" [formControl]="searchTerm" placeholder="Enter keyword here" (click)="inputSearchClickHandler($event);" (keydown)="inputKeypressHandler($event);" (blur)="blurHandler($event);" />
                    <div *ngIf="searchString" class="list-group">
                        <!--<a *ngFor="let item of temp_search_results" href="javascript:void(0);" class="list-group-item" [attr.data-search-item]="item | json" (keydown)="eventHandler($event, item)" (click)="eventHandler($event, item)" [ngClass]="item.hovered ? 'tabHover' : ''">-->
                        <a *ngFor="let item of temp_search_results" href="javascript:void(0);" class="list-group-item" (keydown)="eventHandler($event, item)" (click)="eventHandler($event, item)" [ngClass]="item.hovered ? 'tabHover' : ''">
                            <div class="search-result-wrapper container">
                                <!--<div [ngClass]="{isPlace: item.links.length > 1 ? item.links[1].indexOf('.zip') !== -1 ? 'Indicator' : 'Place' : 'Place' }" class="search-result-type">
                                    {{item.links.length > 1 ? item.links[1].indexOf('.zip') !== -1 ? 'Download' : 'Map Service' : 'Download'}}
                                </div>-->
                                <div class="search-result-content row">
                                    <div class="search-result-name col-xs-12">
                                        <span>{{item.title}}</span>
                                        <span *ngIf="item['keywords'] ? item['keywords'].indexOf('Framework') !== -1 : false" class="framework-record">
                <img src="assets/img/framework-icn.png" alt="Oregon Framework Dataset" title="Oregon Framework Dataset" />
            </span>

                                    </div>
                                    <div class="search-result-thumb col-xs-1">
                                        <img *ngIf="item['url.thumbnail_s'] !== undefined" [src]="item['url.thumbnail_s'] !== undefined ? item['url.thumbnail_s'] : 'assets/img/oe_no_image.png' " title="thumbnail of dataset" />
                                    </div>
                                    <div [title]="item.description" class="search-result-desc col-xs-5">
                                        {{item.description}}
                                    </div>
                                    <div *ngIf="item.links.length > 1 ? item.links[1].indexOf('.zip') !== -1 : false" class="download-link col-xs-2">
                                        <span class="glyphicon glyphicon-download-alt"></span>
                                        <a [href]="item.links[1]" download>Download</a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div id="search-btn" (mousedown)="searchByText($event)" class="col-xs-2">
                    Search
                </div>
                <div id="clear-btn" class="col-xs-2" (mousedown)="clearFilters()" [innerHTML]="isHandheld ? 'Clear' : 'Clear Filters'">
                </div>
            </div>
            <div class="filter-row-wrapper row">
                <div *ngFor="let filter of filters" [ngClass]="filter.facet === 'Framework' ? 'framework-filter' : ''" class="filter col-xs-2">
                    {{filter.category}}
                    <br *ngIf="filter.category !== ''" /> {{filter.facet === 'Framework' ? 'Framework Data' : filter.facet}}
                    <span class="removeFilter" (click)="removeFilter(filter)"><img src="assets/img/closeX2.png" alt="remove selected filter" />&nbsp;</span>
                </div>

            </div>
        </div>
    </div>
</div>