<div id="search-bar" class="container">
    <div class="row">
        <div class="col-xs-12" id="search-title">Find Geospatial &amp; Oregon Framework Data</div>
    </div>
    <div class="row search-wrapper" [ngClass]="viewType">
        <div class="col-md-12">
            <div class="search row">
                <div id="search-box" class="col-xs-8">
                    <span class="glyphicon glyphicon-search"></span>
                    <input #searchInput type="text" [(ngModel)]="searchString" [formControl]="searchTerm" [placeholder]="isHandheld ? '' : 'Enter keyword here'" (click)="inputSearchClickHandler($event);" (keydown)="inputKeypressHandler($event);" (blur)="blurHandler($event);"
                    />
                    <!--<input #searchInput type="text" [(ngModel)]="searchString" [formControl]="searchTerm" [placeholder]="isHandheld ? '' : 'Enter keyword here'" (click)="inputSearchClickHandler($event);" (keydown)="inputKeypressHandler($event);" />-->
                    <div *ngIf="searchString" class="list-group">
                        <a *ngFor="let item of temp_search_results" href="javascript:void(0);" class="list-group-item" (keydown)="eventHandler($event, item)" (click)="eventHandler($event, item)" [ngClass]="item.hovered ? 'tabHover' : ''" [attr.data-search-item]="item.id">
                            <div class="search-result-wrapper container">
                                <div class="search-result-content row">
                                    <div class="search-result-name col-xs-12">
                                        <span>{{item.title}}</span>
                                        <span *ngIf="item['keywords'] ? item['keywords'].indexOf('Framework') !== -1 || item.title.includes('ramework') : item.title.includes('ramework')" class="framework-record">
                <img src="assets/img/framework-icn.png" alt="Oregon Framework Dataset" title="Oregon Framework Dataset" />
            </span>

                                    </div>
                                    <div class="search-result-thumb col-xs-1">
                                        <img *ngIf="item['url.thumbnail_s'] !== undefined" #thumbnail [src]="item['url.thumbnail_s'] !== undefined ? item['url.thumbnail_s'].replace('/export?size=256,256&f=image','/info/thumbnail') : 'assets/img/oe_no_image.png' " title="thumbnail of dataset"
                                            (error)="thumbnail.src = 'assets/img/oe_no_image.png'" title="thumbnail of dataset" />
                                        <img #thumbnailbinary *ngIf="item['thumbnail_binary_t']" [src]="'http://spatialdata.oregonexplorer.info/geoportal/thumbnail?uuid=%7B'+ (item.id.substring(0,8) + '-' +item.id.substring(8,12) + '-' + item.id.substring(12,16) + '-' + item.id.substring(16,20) + '-' + item.id.substring(20,item.id.length)).toUpperCase() +'%7D'"
                                            title="thumbnail of dataset" (error)="thumbnailbinary.src = 'assets/img/oe_no_image.png'" />
                                    </div>
                                    <div [title]="item.description" [innerHTML]="item.description" class="search-result-desc col-xs-5">
                                    </div>
                                    <div *ngIf="item.links ? item.links.length > 1 ? item.links[1].indexOf('.zip') !== -1 || item.links[1].indexOf('ftp:') !== -1 : false : false" class="download-link col-xs-2">
                                        <span class="glyphicon glyphicon-download-alt"></span>
                                        <a *ngIf="item.links[1].indexOf('.zip') !== -1" [href]="item.links[1]" class="download-link-a" download>Download</a>
                                        <a *ngIf="item.links[1].indexOf('ftp:') !== -1" [href]="item.links[1]" class="download-link-a" target="_blank">Download</a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div id="search-btn" (mousedown)="searchByText($event)" class="col-xs-2">
                    Search
                </div>
                <div id="clear-btn" class="col-xs-2" (mousedown)="clearFilters()" [innerHTML]="isHandheld ? 'Clear' : 'Clear Filters'">
                </div>
            </div>
            <div class="filter-row-wrapper row">
                <div *ngFor="let filter of filters" [ngClass]="filter.facet.includes('ramework') ? 'framework-filter' : ''" class="filter col-md-2 col-xs-12" (click)="removeFilter(filter)">
                    {{filter.facet.includes('ramework') ? ' Framework ' : filter.category}}
                    <br/> {{filter.facet.includes('ramework') ? ' Data ' : filter.facet}}
                    <span class="removeFilter"><img src="assets/img/closeX2.png" alt="remove selected filter" />&nbsp;</span>
                </div>

            </div>
        </div>
    </div>
</div>