<div id="search-bar" class="container">
  <div class="row">
    <div class="col-xs-12" id="search-title">Find Geospatial &amp; Oregon Framework Data</div>
    </div>
    <div class="row search-wrapper" [ngClass]="viewType">
      <div class="col-md-12">
        <div class="search row">
          <div class="col-xs-8">
            <span class="glyphicon glyphicon-search"></span>
            <!--<input [(ngModel)]="searchTerms" #searchInput type="text" [(ngFormControl)]="term" [placeholder]="isMobile ? 'Select and explore' : 'Search by location or indicator name'"
          (click)="inputSearchClickHandler($event);" (blur)="blurHandler($event);" (keydown)="inputKeypressHandler($event);"
        />-->
            <input #searchInput type="text" placeholder="Enter keyword here" />
            <!--<div id="explore-btn" (mousedown)="searchByText($event)">
          Explore
        </div>-->
          </div>
          <div id="explore-btn" class="col-xs-2">
            Search
          </div>
          <div id="clear-btn" class="col-xs-2" [innerHTML]="isHandheld ? 'Clear' : 'Clear Filters'">
            
          </div>
          <!--<div *ngIf="searchTerms" class="list-group">
          <a *ngFor="let item of tempResults" href="javascript:void(0);" class="list-group-item" [attr.data-search-item]="item | json"
            (keydown)="eventHandler($event, item)" (click)="eventHandler($event, item)" [ngClass]="item.hovered ? 'tabHover' : ''">
            <div class="search-result-wrapper">
              <div [ngClass]="{isPlace: item.Type == 'Place', isIndicator: item.Type == 'Indicator'}" class="search-result-type">
                {{item.Type}}
              </div>
              <div class="search-result-content">
                <div class="search-result-name">
                  <span>{{item.Name !== item.DisplayName ? item.DisplayName : item.Name}}</span>
                  <span *ngIf="item.TypeCategory" class="typeCategory">({{item.TypeCategory}})</span>
                  <span *ngIf="item.Desc && item.Type === 'Place'" class="ct-tag">
                                    <b *ngIf="item.Desc.split('~').length > 0">{{(item.TypeCategory === 'Unincorporated Place' ? 'Data shown for ' : 'Includes data for ') + item.Desc.split('~')[0]}}</b>
                                </span>
                  <span *ngIf="item.Desc && item.Type === 'Place'" class="glyphicon glyphicon-flag ct-tag-flag">
                                </span>
                </div>
                <div *ngIf="item.Desc" class="search-result-desc" [innerHTML]="item.Desc.split('~').length > 1 ? item.Desc.split('~')[1] : ''">
                </div>
              </div>
            </div>
          </a>
        </div>-->
        </div>
      </div>
    </div>
  </div>