/* You can add global styles to this file, and also import other style files */

@import url(https://fonts.googleapis.com/css?family=Lato);
@font-face {
    font-family: AvenirLTCom-Book;
    src: url('./assets/fonts/AvenirLTCom-Book.ttf') format('truetype');
}

@font-face {
    font-family: AvenirLTStd-Light;
    src: url('./assets/fonts/AvenirLTStd-Light.ttf') format ('truetype');
}

body {
    background-color: #E9E9E6 !important;
    font-family: 'AvenirLTStd-Light', 'Lato', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    /*font-family: 'AvenirLTStd-Light', 'Lato', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
    margin: 4px;
    font-size: 22px;
    font-weight: bold;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label span {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url('assets/img/checkbox.png') top no-repeat;
    margin: -4px 10px;
}

input[type="checkbox"]:checked+label span {
    background: url('assets/img/checked-box.png') top no-repeat;
}

.btn.dropdown-toggle.btn-default,
.btn.dropdown-toggle.btn-default:hover {
    box-shadow: none;
    background-color: #F3F2ED;
    /*color: #D1CDC7;
    border-color: #D1CDC7;*/
    color: #a7a7a7;
    border-color: #a7a7a7;
}

.dropdown-menu {
    background-color: #F3F2ED;
}

.dropdown-menu>li>a {
    color: #C34500;
    padding: 10px;
    margin: 0 5px;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li.selected a {
    background-color: rgba(187, 178, 164, 0.20);
    border-radius: 4px;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    background-color: #C34500;
    border-color: #C34500;
}

.pagination>li>a,
.pagination>li>span {
    color: #C34500;
    background-color: #F3F2ED;
}

.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus {
    color: #C34500;
}

.loading div {
    width: 200px;
    height: 60px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.glyphicon.glyphicon-certificate {
    color: #98BD85;
    font-size: 2.3em;
}

.glyphicon.glyphicon-certificate.f:after {
    content: 'f';
    position: relative;
    top: -8px;
    left: -21px;
    color: mintcream;
    font-size: .7em;
    /*font-family: 'AvenirLTStd-Light', 'Lato', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
}