<div id="about-wrapper">
    <h2>About the Oregon Spatial Data Library</h2>
    <hr>
    <p><strong>Mission</strong><br></p>
    <p>The Oregon Spatial Data Library provides public access to reliable and up-to-date spatial data. The Oregon Spatial Data Library is a joint effort between the Department of Administrative Services Geospatial Enterprise Office and Oregon State University.
        Currently, hundreds of spatial datasets are accessible from the Oregon Spatial Data Library, including all of the statewide framework data available for Oregon. These datasets serve as base data for a variety of Geographic Information System
        (GIS) applications that support research, business and public services. </p>
    <p></p><br>
    <p><strong>Audience</strong><br></p>
    <p>The targeted primary users for the Oregon Spatial Data Library are staff of agencies participating in the Oregon Geographic Information Council (OGIC), including Federal, State, and local governments and tribes. Secondary users include the general
        public, consultants, educators, and students. </p>
    <p></p><br>
    <p><strong>Acknowledgments</strong></p>
    <p></p>
    <p>The Oregon Spatial Data Library was developed through a partnership of Oregon State University (OSU) Libraries, Oregon University System Institute for Natural Resources, and the Department of Administrative Services Geospatial Enterprise Office (DAS-GEO).
        Funding was provided by DAS-GEO through a grant from the U.S. Geological Survey for Phase 1. Phase 2 funding was provided by the Oregon Department of Transporation. Phase 3 funding was provided by USGS-NSDI.</p><br>
    <p>Phase 1 of the site was made public in November of 2009.</p>
    <p>Phase 2 was completed in June of 2011.</p>
    <p>Phase 3 was completed in 2012.</p>
    <p>Phase 4 was completed in 2017.</p>
    <p>Phase 5 was completed in 2021.</p>
</div>