<div id="download-helper" class="modal fade" tabindex="-1"
  [ngClass]="{'in': visibleAnimate}"
  [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" (click)="hide()">
        <button type="button" class="close" data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
          Browser download compatibility
        </h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            Your browser may not support downloading of this resource directly from our site.  You may try copying the download resource url below and pasting
            into a new tab, or try a different browser.
          </div>
          <br />
          <br />
          <hr />
          <div class="col-xs-12">
            <b><a [href]="downloadUrl"
              download="">{{downloadUrl}}</a></b>
          </div>
          <hr />
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>